__pycache__/
*.pyc
catkin_ws/logs/
catkin_ws/build/
catkin_ws/devel/
catkin_ws/.catkin_tools/
overlay_ws/logs/
overlay_ws/build/
overlay_ws/devel/
overlay_ws/.catkin_tools/
docker_compose_fifos_options.env
setup/fifos-connector/requirements.resolved
