<launch>
<arg name="veh"/>
	<arg name="pkg_name" default="obj_det" doc="name of the package"/>
	<arg name="node_name" default="obj_det_node" doc="name of the node"/>

        <group ns="$(arg veh)">
	    <node  pkg="$(arg pkg_name)" type="$(arg node_name).py" name="$(arg node_name)" output="screen"/>
	</group>

</launch>
 
