<launch>
<arg name="veh"/>
	<arg name="param_file_name" default="default"/>
	<arg name="pkg_name" default="pedestrian_avoidance" doc="name of the package"/>
	<arg name="node_name" default="pedestrian_avoidance_controller_node" doc="name of the node"/>

    <node ns="$(arg veh)"  pkg="$(arg pkg_name)" type="$(arg node_name).py" name="$(arg node_name)" output="screen" required="true">
        <rosparam command="load" file="$(find pedestrian_avoidance)/config/$(arg node_name)/$(arg param_file_name).yaml"/>
    </node>


</launch>
 
