<launch>
    <arg name="pkg_name" value="image_proc"/>
    <arg name="node_name" default="image_proc_node"/>

    <arg name="veh" doc="Name of vehicle. ex: megaman"/>

    <group ns="$(arg veh)">
        <node pkg="$(arg pkg_name)" type="$(arg pkg_name)" name="$(arg node_name)" output="screen">
        </node>
    </group>
</launch>
