<?xml version="1.0"?>
<launch>
    <arg name="veh" doc="Name of vehicle. ex: megaman"/>
    <arg name="demo_name" value="lane_following_pedestrians"/>
    <arg name="param_file_name" default="default" doc="Specify a param file. ex:default." />

    <!-- Joy Mapper: reads raw joy commands and trigger actions in Duckietown (e.g., move robot, start LF) -->
    <include file="$(find joy_mapper)/launch/joy_mapper_node.launch">
        <arg name="veh" value="$(arg veh)"/>
        <arg name="param_file_name" value="$(arg param_file_name)"/>
    </include>

    <!-- Kinematics: turns chassis-level commands into wheels-level commands and chassis-level velocities -->
    <remap from="kinematics_node/car_cmd" to="car_cmd_switch_node/cmd"/>
    <remap from="kinematics_node/wheels_cmd" to="wheels_driver_node/wheels_cmd"/>
    <include file="$(find dagu_car)/launch/kinematics_node.launch">
        <arg name="veh" value="$(arg veh)"/>
        <arg name="param_file_name" value="$(arg param_file_name)"/>
    </include>

    <!-- Velocity To Pose (Odometry): turns chassis-level velocities into chassis pose -->
    <remap from="velocity_to_pose_node/velocity" to="kinematics_node/velocity" />
    <include file="$(find dagu_car)/launch/velocity_to_pose_node.launch">
        <arg name="veh" value="$(arg veh)"/>
    </include>

    <!-- Car Command Switch: switches between different sources of car_cmds depending on the current mode of the robot -->
    <include file="$(find dagu_car)/launch/car_cmd_switch_node.launch">
        <arg name="veh" value="$(arg veh)"/>
        <arg name="demo_name" value="$(arg demo_name)"/>
    </include>

</launch>
